<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@ViewData["Title"] | کوتاه کننده لینک</title>
    <partial name="_HeaderRefrence" />
</head>

<body class="my-login-page">

    <header class="header-section" style="background-color: #2c18b4">
        <div class="container">
            <div class="header-wrapper">
                <ul class="menu"></ul>
                <div class="header-bar d-lg-none mr-sm-3">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="header-right"></div>
            </div>
        </div>
    </header>
    @RenderBody()

    <footer class="footer-section padding-top">
        <div class="footer-bg bg_img"></div>
        <div class="footer-bg d-md-block d-none"><img src="./assets/images/footer/wave.png" alt="footer"></div>
        <div class="container" style="background-image: url(assets/images/footer/footer-bg.jpg)">
            <div class="footer-bottom">
                <div class="footer-bottom-area">
                    <div class="left cl-white">
                        <p>ShortLink 2024 | <a href="https://github.com/soheil-yz">github</a></p>
                    </div>
                    <ul class="social-icons"></ul>
                </div>
            </div>
        </div>
    </footer>
    <partial name="_ScriptRefrence" />
    <partial name="_Message"/>
</body>

</html>