<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" >
                    <span data-feather="home"></span>
                    Managment
                </a>
            </li>            
            <li class="nav-item">
                <a class="nav-link " aria-current="page" asp-action="Index" asp-controller="Account" asp-area="Admin">
                    <span data-feather="home"></span>
                    Managment Staff
                </a>
            </li>
            

        </ul>

        
        <ul class="nav flex-column mb-2">


        </ul>
    </div>
</nav>
